*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.banner{
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
}
.banner > img{
    object-fit: contain;
    /* height: 100%; */
    width: calc(100vw - 40px);
}
.banner > .button-container{
    /* background-color: brown; */
    top: 50%;
    position: absolute;
    width: calc(100vw - 60px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button-container > .icon{
    font-size: 50px !important;
    color: white;
    border-radius: 50%;
    background-color: gray;
    text-align: center;
}