*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.banner{
    /* position: absolute; */
    width: fit-content;
    height: fit-content;
}
.banner > img{
    object-fit: contain;
    height: 450px;
    /* width: 1280px; */
}
.banner > .button-container{
    /* background-color: brown; */
    top: 25%;
    position: absolute;
    width: 674.66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button-container > .icon{
    font-size: 50px !important;
    color: white;
}