*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    border-top: 5px solid orange;
    height: max-content;
    width: 100%;
    padding: 40px;
    background-color: white;
    box-shadow: 0px -10px 40px rgba(0,0,0,0.1);
}
.footer__logo{
    padding-top: 80px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.footer-icons{
    color: white !important;
}
.team__image{
    object-fit: contain;
    width: 60px;
    border-radius: 50%;
}