@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item__page{
    height: 100vh;
    /* background: cadetblue; */
}
.left__div{
    flex: 0.4;
    /* background: brown; */
    height: 80%;
    display: grid;
    place-items: center;

}
.left__div > img{
    border-radius: 5px;
    padding: 2rem;
    border: 1px solid rgba(190, 190, 190, 0.74);
    object-fit: contain;
    width: 300px;
    transform: scale(1.5);
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.left__div > img:hover {
    box-shadow: 0px 0px 40px rgba(134, 134, 134, 0.2);
    border-color: white;
}
.right__div{
    flex: 0.6;
    /* background: red; */

}
.product__title{
    padding: 2rem 2rem 0rem 2rem;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    /* background: coral; */
}
.product__description{
    width: 90%;
    padding: 0rem 2rem;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}