@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Login{
    height: 100vh;
    width: 100vw;
    /* background-color: blue; */
    display: flex;
}

.login__left{
    flex: 0.7;
    width: 100%;
    overflow: hidden;
}
.login__left > img{
    object-fit: contain;
    /* filter: blur(0.1rem); */
    width: 1200px;
}
.login__right{
    flex: 0.3;
    display: grid;
    place-items: center;
}
.right__main{
    width: 80%;
}
.right__main, .inputs{
    display: flex;
    flex-direction: column;
}
.right__main > p{
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 20px;
}

.inputs{
    width: 80%;
    padding: 0px 10px 0px 0px;
    /* background-color: blue; */
    align-items: center;
    justify-content: center;
}
.inputs > .text-field{
    margin-bottom: 5px;
    margin-top: 5px ;
}
.inputs > Button{
    margin-top: 15px;
}
.icon__container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    /* background-color: blue; */
}

.other__option{
    /* background-color: brown; */
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.other__option > .text__container{
    padding: 20px 10px 10px 10px;
    width: 100%;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    color: rgba(0,0,0,0.3);
    /* background-color: turquoise; */
}
.twitter__icon, .google__icon, .facebook__icon,.github__icon{
    height: 4rem;
    width: 4rem; 
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.35s ease-in;
}
.twitter__icon:hover{
    background-color: #00acee;
}
.twitter__icon:hover > .inner__icon{
    color: white;
}
.google__icon:hover{
    background-color: red;
}
.google__icon:hover > .inner__icon{
    color: white;
}
.facebook__icon:hover{
    background-color: #1877f2;
}
.facebook__icon:hover > .inner__icon{
    color: white;
}
.github__icon:hover{
    background-color: black;
}
.github__icon:hover > .inner__icon{
    color: white;
}
.lower__section{
    width: 80%;
    padding: 0px 10px 0px 0px;
    margin-top: 10px;
    /* background-color: grey; */
}
.signup__button, .login__button{
    width: 100%;
    margin-top: 10px ;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #11a683;
    text-align: center;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.login__button{
    /* background-color: #13b891; */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.signup__button:hover, .login__button:hover{
    /* background-color: rgb(7, 241, 18); */
    background-color: #11a683 !important;

    color: white;
}