.details {
  margin-left: 2vw;
  margin-right: 2vw;
  height: 80px;
  width: 95vw;
  border-radius: 5px;
  padding: 1.7rem;
  border: 1px solid rgba(190, 190, 190, 0.74);
  cursor: pointer;
  margin-top: 10px;
  background-color: white;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  
  
}

.details:hover {
  box-shadow: 0px 0px 40px rgba(134, 134, 134, 0.2);
  border-color: orange;
  transform: scale(1.01);
  
}

.name{
    /* float: left; */
    /* background-color: tomato; */
    width: 40%;
    
    
    
}

.role{
    margin-left: 10%;
    
    width: 30%;
    /* background-color: blue; */

    
}
.del{
    
    /* float: right; */
    
    width: 10%;
    /* background-color: yellow; */
    font-size: 2vw;
    font-weight: 400;
    color: grey;
    margin-top: 6px;
}

.del:hover{
  color: red;
  transform: scale(1.01);
}
